@import 'http://cdn.jsdelivr.net/zurb/foundation-apps-1.0.2.min.css'

nav-colors = (#3400A3 #ff0044 #FFD600 #4FDB00 #00ABCC)

body 
  font-family 'Raleway', sans-serif
  font-weight 200
h1,h2,h3,h4
  font-family sans-serif
  color white
a
  transition: all .5s ease-in-out
footer 
  color white
  padding 1rem
  font-size 1.2rem
  text-transform uppercase
  font-weight bold
  a 
    color white
.row
  min-height 100vh
  min-width 100%
.noPadding 
  padding 0!important
#videos 
  background: url('../images/Capture_337.jpg')
  display: inline-block
  width: 100%
  color: white
  padding: 0!important
  background rgba(255,255,255,.3)
  display inline-block
  width 100%
  height 100%
  padding 4rem 0
  p 
    background rgb(255, 72, 72)
    padding .5rem
.flex-video 
  margin-bottom 0!important
.title-area h1 a
  color white
.top-bar 
  background none!important
  position absolute
  top 0
  width 100%
  z-index 99
  padding .5rem
.tourDate
  padding 1rem
  background rgba(214, 253, 131, .65)
  color #555
  min-height 11rem
  overflow hidden
  text-align center
  padding 0
  border .5rem solid white
  transition all .5s ease-in-out
  p 
    font-size 1.2rem
    padding-top 10%
    font-weight lighter
  h4 
    color #FFF
    margin 0
    padding-top .4rem
    background rgb(255, 84, 84)
  &:hover 
    background rgba(250,250,250,.85)
    transform rotate3d(6deg,6deg,0,90deg)
#tourdates-wrap
  //background-image url('../images/Capture_216.jpg')
  background-position center
  background-size cover
  display inline-block
  position relative
.tour-dates
  
  color white
  padding 1rem
  overflow scroll
#jumbotron
  margin-top:0
  background: url('../images/jumbotron.jpg')center
  background-size: cover
  display: inline-block
  &:before
    content ''
    position absolute
    display inline-block
    top 0
    left 0
    right 0
    bottom 0
    background rgba(white, .5)
.home-nav-container
  margin 1em 0
.side-nav
  #logo
    img
      max-width 75% 
  li:not(#logo)
    position relative
    &:after
      transition right .5s ease-in-out
      content ''
      position absolute
      top 0
      left 0
      bottom 0
      right 98%
      z-index 1
    &:hover
      &:after
        right 0
    for i in (0..4)
      &:nth-child(5n+{i})
        &:after
          background-color nav-colors[i]
        a
          color nav-colors[i]
    a
      font-size 1.6rem
      transition all .1s ease-in-out
      z-index 2
      position relative
      &:hover
        color white
  &.past-main 
    width 100%!important
    position fixed
    z-index 99
    padding 0
    li
      width 14.28%!important
      float left
      &:first-child 
        display none
.login-panel
  button
    margin 3rem
    width 100%
  a
    color white
.admin-nav
  ul
    list-style-type none
  li
    float left
    display inline-block